 body {

     background-color: rgb(244, 237, 237);
     font-family: Arial, sans-serif;
     color: white;


 }

 .form-container {
     width: 400px;
     margin: 50px auto;
     background: white;
     color: black;
     padding: 20px;
     border-radius: 8px;

 }

 h2 {
     text-align: center;
 }

 input,
 textarea,
 select {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
 }

 button {
     width: 100%;
     padding: 12px;
     background-color: #28a745;
     color: white;
     border: none;
     border-radius: 5px;
 }

 button:hover {
     background-color: #0f3a4b;

 }

 .navbar {
     position: sticky;
     top: 0;
     width: 100%;
     background: rgba(15, 23, 42, 0.95);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px 60px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     z-index: 1000;
 }

 .navbar a {
     color: white;
     text-decoration: none;
     margin-left: 25px;
     font-size: 14px;
 }

 .navbar a:hover {
     color: #38bdf8;
 }